*{
  line-height: 20px;
  background-color: #C0DEED;
}

a:link, a:visited {
    text-decoration: none;
}

.clear {
	clear: both;
}

.bg_img {
	margin: 0 -20px;
	background-image: url("https://abs.twimg.com/images/themes/theme1/bg.png");
	height: 190px;
	padding: 50px 0 0 130px;
}

#twitter{
	font-size: 5em;
	color: #0084B4;
	background-color: transparent;
}

#welcome {
	float: left;
	margin: 5px 0px 5px 25px;
	font-size: 1.2em;
}

#logout_btn {
	float: right;
	margin: 5px 25px 5px 0;
	font-size: 1.2em;
}