
<div class="container">
<% if session[:user_id].present? %>
  <p>Dear, this is not you? <%= @login_user %></p>
  <p><%= erb :logout_btn %></p> 
<%else%>
  <h1>Login</h1>
  <form action="/login" method="POST">
    <label>Username:</label>
    <input type="text" name="user_name">
    <label for="pwd">Password:</label>
    <input type="password" name="password">
    <input class="btn btn-info" type="submit" value="login">
  </form>
<%end%>
</div>
