<% if session[:user_id].present? %>
  <p>Dear, this is not you?</p>
  <p><%= erb :logout_btn %></p> 
<%else%>
  <h1>Login</h1>
  <form action="/login" method="POST">
    <label>Username:</label>
    <input type="text" name="user_name">
    <label>Password</label>
    <input type="password" name="password">
    <input type="submit" value="login">
  </form>
<%end%>
