<div class="container">
  <h1>Sign up</h1>
  <form action="/register" method="POST">
    <label>Username</label>
    <input type="text" name="user_name">
    <label>Password</label>
    <input type="password" name="password">
    <label>Email</label>
    <input type="text" name="email">
    <label>full name:</label>
    <input type="text" name="full_name">
    <input type="submit" value="register">
  </form>
</div>
